 
$whitish: #f9f9f9;
$pinkish: #e59286;
$darkgrey: #555555;

body{
    margin: 0px;
    padding: 0px;
    
}

.nav{
    z-index: 1;
    border-bottom: 1px solid  $whitish;
    text-align: center;
    height: 70px;
    line-height: 2px;
    background-color: $whitish;
    margin: 0;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    img {
        float: left;
        width: 180px;
        
        
            
    }
}

.search1{
    padding-top: 22px;
}
.fa-search:before {
    content: "\f002";
    color: $pinkish;
    
}


.menu{
    margin: 0 30px 0 0;
    
    a{
    z-index: -1;
    font-size: 20px;
    text-decoration: none;
    clear: right;
    color: $darkgrey;
    margin: 0 10px;
    line-height: 60px;    }
    :hover{
        color: $pinkish;
    }
}
    label{
        margin: 0 20px 0 0;
        font-size: 26px;
        line-height: 70px;
        display: none;
        width: 26px;
        float: right;
    }
    
#toggle{
    display: none;
}

.header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px;
    background-color: $darkgrey;
    text-align: center;

}

.headline{
    h1{
        margin:  30px 0px 40px 80px;
    }
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 20px 80px 10px 80px;
    img{
        width: 100%;
        height: 400px;
    }
     input[type=submit] {
        background-color: #e59286;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    p{
        margin: 0px 40px 20px 0px;
    }
}
.who_we{
    background-color: $whitish;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    img{
        width: 100%;
        height: 580px;
    }
    #text{
        margin: 40px 80px 40px 40px;
    }
    
}
.text-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 12px;
    
    h2{
       color: $pinkish; 
    }
    
}

.meet_team{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 5px;
    margin: 20px 50px 10px 150px;
    
   img{
       width: 300px;
       height: 300px;
   }
   
}
.meet_team div div {
  margin-left: 30px;
  padding-left: 42%;
  padding-right: 12%;
}

#bars {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
	margin: 2em auto;
	overflow: hidden;
}

.circles{
    background-color: black;
}

.bar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    text-align: center;
    font-size: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

.bar h3 {
	font-size: 20px;
	font-weight: normal;
	margin: 0;
    text-transform: uppercase;
    color: $pinkish;
}

.bar-circle {
    display: block;
	margin: 0.7em auto;
}

.subscribe_container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    i{
        color: $pinkish;
    }
    input{
        margin: 0 auto;
        width: 200px;
        height: 30px;
    }
    
        
        input[type=submit] {
            background-color: $pinkish;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            height: 40px;
            width: 120px;

        }
        
        input[type=submit]:hover {
            background-color: $pinkish;
        }
        }
       
        
    

    .sponsors{
        position: static;
        height: 200px;
        border: 1px solid black;
        width:99%;
        overflow: hidden;
        background-color: black;
      
    
    .pics{
        height: 120px;
        width: 380%;
        background-color: black;
        animation-name: thing;
        animation-duration: 25s;
        animation-timing-function: ease-in;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        position: relative;
       left: 100%;
      }
    @keyframes thing{
    100%{
        position: relative; left:-3880px;}
        
      }
    img{
        width: 180px;
        height: 180px;
        margin-right:50px;
    }
    }
    
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin: 30px 90px 50px 90px;
    }

    .copyright{
        background-color: $pinkish;
        height: 40px;
        line-height: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        
        p{
            color: black;
            line-height: 40px;
            margin: 0;
            margin-left: 3%;
        }
        .icons{
            background-color: $pinkish;
            margin-right: 2%;
            i{
                font-size: 20px;
                line-height: 40px;
                float: right;
                padding-left: 3%;
            }
        }
    }
    

@media only screen and (max-width: 980px){
    html, body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0px;
        overflow: scroll;
        // position: static;
    }

    label{
        display: block;
        cursor: pointer;
        position: sticky;
        top: 2%;
        right: 2%;
        
  
    }
    .home{
        margin-top: 30px;
    }
    #toggle2{
        float: right;
        margin-left: 400px;
        
    }

    .menu{
        text-align: center;
        width: 100%;
        display: none;
        background-color: $whitish;
        a{
            
            display: block;
            border-bottom: 1px solid $whitish;
            margin: 0;
        }
    }

    #toggle:checked + .menu{
        display: block;
    }
    .search1{
        width: 100%;
    }
    
}
@media only screen and (max-width: 1450px){
    .meet_team{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: auto auto auto auto;
        grid-gap: 5px;
        margin: 20px 50px 10px 150px; 
        text-align: justify;
        
       img{
           width: 300px;
           height: 300px;
           
       }
       
    }
    .meet_team div div {
      margin-left: 30px;
      padding-left: 42%;
      padding-right: 12%;
  }
}


@media only screen and (max-width: 920px){
    .meet_team{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: auto auto auto auto;
        grid-gap: 5px;
        margin: 20px 6px 10px 12px;
        text-align: justify;
        
       img{
           width: 300px;
           height: 300px;
           margin: 0;
           padding: 0;
           
           
       }


    }
    .meet_team div div {
        text-align: center;
        margin-left: 0px;
        padding-left: 0%;
        padding-right: 8%;
    }
}


@media only screen and (max-width: 920px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        margin: 20px 80px 10px 80px;
        img{
            width: 100%;
            height: 400px;
        }
         input[type=submit] {
            background-color: $pinkish;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        
        p{
            margin: 0px 40px 20px 0px;
        }
    }
    .who_we{
        background-color: $whitish;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        padding: 20px 40px 20px 80px;

    
        img{
            width: 90%;
            height: 400px;
            
            
        }
        #text{
            margin: 40px 80px 40px 40px;
        }
        
    }
    .text-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-gap: 12px;
        
        h2{
           color: $pinkish; 
        }
        
    }


    #bars {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        margin: 2em auto;
        overflow: hidden;
    }



}
@media only screen and (max-width: 380px){
.headline{
    h1{
        margin: 20px 30px 10px 30px;
    }
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 20px 40px 20px 40px;
    img{
        width: 100%;
        height: 200px;
    }
     input[type=submit] {
        background-color: $pinkish;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    p{
        margin: 0px 10px 20px 10px;
    }
}



}   