$whitish: #f9f9f9;
$pinkish: #e59286;
$darkgrey: #555555;

body{
    margin: 0px;
    padding: 0px;
    
}

.nav{
    z-index: 1;
    border-bottom: 1px solid  $whitish;
    text-align: center;
    height: 70px;
    line-height: 2px;
    background-color: $whitish;
    margin: 0;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    img {
        float: left;
        width: 180px;           
    }
}
.search1{
    padding-top: 22px;
}
.fa-search:before {
    content: "\f002";
    color: $pinkish;
    
}


.menu{
    margin: 0 30px 0 0;
    
    a{
    z-index: -1;
    font-size: 20px;
    text-decoration: none;
    clear: right;
    color: $darkgrey;
    margin: 0 10px;
    line-height: 60px;    }
    :hover{
        color: $pinkish;
    }
}
    label{
        margin: 0 20px 0 0;
        font-size: 26px;
        line-height: 70px;
        display: none;
        width: 26px;
        float: right;
    }
    
#toggle{
    display: none;
}

.header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px;
    background-color: gray;
    overflow: hidden;
    text-align: center;

}


////////////contact form//////////////
.contact{
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid $pinkish;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: $pinkish;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: $pinkish;
}
}

.form_container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: 5px;
    background-color: $whitish;
    padding: 20px 240px 0 240px;
}

.info{
    margin-left: 10%;
}
// my live map
iframe{
    border: none;
    width: 100%;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px;
    margin: 30px 90px 50px 90px;
}

.copyright{
    background-color: $pinkish;
    height: 40px;
    line-height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    
    p{
        color: black;
        line-height: 40px;
        margin: 0;
        margin-left: 3%;
    }
    .icons{
        background-color: $pinkish;
        margin-right: 2%;
        i{
            font-size: 20px;
            line-height: 40px;
            float: right;
            padding-left: 3%;
        }
    }
}


@media only screen and (max-width: 980px){
    html, body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0px;
        overflow: scroll;
        // position: static;
    }

    label{
        display: block;
        cursor: pointer;
        position: sticky;
        top: 2%;
        right: 2%;
        
  
    }

    
    .form_container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        padding: 0 140px 0 140px;
    }
    .home{
        margin-top: 30px;
    }
    #toggle2{
        float: right;
        margin-left: 400px;
        
    }

    .menu{
        text-align: center;
        width: 100%;
        display: none;
        background-color: $whitish;
        a{
            
            display: block;
            border-bottom: 1px solid $whitish;
            margin: 0;
        }
    }

    #toggle:checked + .menu{
        display: block;
    }
    .search1{
        width: 100%;
    }
} 

