
$whitish: #f9f9f9;
$pinkish: #e59286;
$darkgrey: #555555;

body{
    margin: 0px;
    padding: 0px;
    
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: scroll;
    font-size: 20px;
    
}


.header{
   display: grid;
   grid-template-columns: auto;
   grid-template-rows: 200px;;
    background-color: #555555;
    overflow: scroll;
    width: 100%;
}

.nav{
    z-index: 1;
    border-bottom: 1px solid  $whitish;
    text-align: center;
    height: 70px;
    line-height: 2px;
    background-color: $whitish;
    margin: 0;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    img {
        float: left;
        width: 180px;
        
        
            
    }
}

.search1{
    padding-top: 22px;
}
.fa-search:before {
    content: "\f002";
    color: $pinkish;
    
}

.menu{
    margin: 0 30px 0 0;
    
    a{
    z-index: -1;
    font-size: 20px;
    text-decoration: none;
    clear: right;
    color: $darkgrey;
    margin: 0 10px;
    line-height: 60px;    }
    :hover{
        color: $pinkish;
    }
}
    label{
        margin: 0 20px 0 0;
        font-size: 26px;
        line-height: 70px;
        display: none;
        width: 26px;
        float: right;
    }
    
#toggle{
    display: none;
}
.search-container button:hover {
    background: $pinkish;
  }
  input[type=submit]{
      width: 140px;
      height: 40px;
      background-color: $pinkish;
      color: white;
    //   border-radius: 12px;
      font-size: 20px;
      padding: 12px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  p{
      text-align: center;
  }
  .box{
      border: solid 2px $pinkish;
      text-align: center;
      border-radius: 15px;
      background-color: white;
  }
  h2{
      text-align: center;
  }
  .grey{
      background-color: $whitish;
  }
  h1{
    text-align: center;
    font-size: 40px;
  }
  i{
     font-size: 20px;
     cursor: pointer; 
  }
  .recommendedStreams{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 10px;
      padding-top: 5%;
      padding-bottom: 5%;
      margin-left: 10%;
      margin-right: 10%;
      i{
          color: $pinkish;
      }
  }

  .individualCourses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    i{
        color: $pinkish;
    }
  }


.introduction{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.individualCourses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    i{
        color: $pinkish;
    }
  }
  .beginnerCodingCourses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    i{
        color: $pinkish;
    }
  }

  .intermediateCodingCourses{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    i{
        color: $pinkish;
    }
  }

  .socialInnovation{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    i{
        color: $pinkish;
    }
  }

  .careerAndLifeSkills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    i{
        color: $pinkish;
    }
  }

  .footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 30px 90px 50px 90px;
}

.copyright{
    background-color: $pinkish;
    height: 40px;
    line-height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    
    p{
        color: black;
        line-height: 40px;
        margin: 0;
        margin-left: 3%;
    }
    .icons{
        background-color: $pinkish;
        margin-right: 2%;
        i{
            font-size: 20px;
            line-height: 40px;
            float: right;
            padding-left: 3%;
        }
    }
}

@media only screen and (max-width: 980px){
    html, body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0px;
        overflow: scroll;
        // position: static;
    }

    label{
        display: block;
        cursor: pointer;
        position: sticky;
        top: 2%;
        right: 2%;
        
  
    }
    .home{
        margin-top: 30px;
    }
    #toggle2{
        float: right;
        margin-left: 400px;
        
    }

    .menu{
        text-align: center;
        width: 100%;
        display: none;
        background-color: $whitish;
        a{
            
            display: block;
            border-bottom: 1px solid $whitish;
            margin: 0;
        }
    }

    #toggle:checked + .menu{
        display: block;
    }
    .search1{
        width: 100%;
    }

}


